# macOS
.DS_Store

# SSL Certificates (local dev only)
*.pem

# Python
__pycache__/
*.py[cod]

# IDE
.vscode/
.idea/

# Node
node_modules/
package-lock.json

# Firebase
.firebase/
firebase-debug.log
firestore-debug.log
